body{
  color: lightgray;
  overflow-x: hidden;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.scrollable {
    overflow-y: scroll;
}


.section{
  height: 100svh;
  scroll-snap-align: center;
}

a{
  text-decoration: none;
}


